<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <app-message-box 
    [content] = "dupa"
    [title] ="dupa2">
                     

  </app-message-box>
  <footer class="footer">
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 34%"></div>
      <div class="progress-bar progress-bar-striped bg-dark progress-bar-animated" role="progressbar" style="width: 33%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 33%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <span class="px-2">Paweł Pawlica 2k19</span><span><git-button></git-button></span>
  </footer>
</body>
