<div class="modal-content">
  <div class="modal-header">
    <h2 class="bg-primary">{{title}}</h2>
    <button aria-describedby="modal-title" class="close" type="button" aria-label="Close" (click)="close()">
      <span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="bg-primary">{{content}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-secondary" >{{optionNo}}</button>
    <button class="btn btn-outline-secondary" >{{optionYes}}</button>
  </div>
</div>
